POSTGRES_USER=study_user
POSTGRES_PASSWORD=study_pass
POSTGRES_DB_TASKS=subscriptions_db
POSTGRES_DB_RESOURCES=analytics_db
API1_DB_URL=postgresql://study_user:study_pass@db1:5432/subscriptions_db
API2_DB_URL=postgresql://study_user:study_pass@db2:5432/analytics_db
VITE_API1_URL=http://localhost:8001
VITE_API2_URL=http://localhost:8002
DOCKERHUB_USERNAME=your-dockerhub-username
